{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="underline">
            <h2>{{ controller_name }}</h2>
        </div>

        {{ form_start(new_invoice) }}
        {{ form_widget('designation') }}

        <button type="submit" class="fake_btn">Nouvelle facture</button>
        {{ form_end(new_invoice) }}

    </div>
{% endblock %}
