table {
    width: 50vw;
    margin: 0 auto 3em auto;
}


thead {
    border: 1px solid black;
}


tbody {
    font-size: 80%;
}


th, td {
    margin:0;
    padding:0;
}


tbody tr:nth-child(odd) {
    background-color: #d5d7d7;
}


.to_new {
    text-align: center;
    width: 20vw;
    margin: 0 auto;
    padding : 10px;
    color: white;
    background: rgba(0,64,86,.8);
    border-radius: 20px;
}


td[class$="_main"] {
    padding-left: 1rem;
    width: 50%;
}


td[class$="_column"] {
    text-align: center;
    width: 25%;
}

