<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}Facturier{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <h1>
        <a href="{{ path('app_login') }}">Facturier</a>
    </h1>
</header>
<main>
    <section id="navbar">
        <nav>
            <ul id="main-menu">
                <li>
                        <span class="material-icons">
                            date_range
                        </span>
                    <span>
                            Calendrier
                        </span>
                </li>
                <li>
                        <span class="material-icons">
                            people_alt
                        </span>
                    <span class="main-menu-content">
                            Clients
                        </span>
                </li>
                <li>
                        <span class="material-icons">
                            file_copy
                        </span>
                    <span class="main-menu-content">
                            Facturier
                        </span>
                </li>
                <li>
                        <span class="material-icons">
                            miscellaneous_services
                        </span>
                    <span class="main-menu-content">
                            Paramètres
                        </span>
                </li>
            </ul>
        </nav>
    </section>
    <section id="container">
        {% block body %}
        {% endblock %}
    </section>
</main>

{% block javascripts %}{% endblock %}
</body>
</html>
