<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}Facturier{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <h1>
        <a href="{{ path('app_login') }}">Facturier</a>
    </h1>
</header>
<main>

    <section id="container">
        {% block body %}
        {% endblock %}
    </section>
</main>

{% block javascripts %}{% endblock %}
</body>
</html>
